
@{
    ViewBag.Title = "Index";
}

<div id="customwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
            </div>
        </div>
    </div>
</div>

<p>
    When we are able to add prices and shop I will add that here
</p>