@model StoreFront.Data.EF.HeadPhoneType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HeadPhoneType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HPT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HPT_ID)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin,Employee"))
    {

        @:    @Html.ActionLink("Edit", "Edit", new { id = Model.HeadPhoneType1 }) |
    }

    @Html.ActionLink("Back to List", "Index")
</p>