<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>

  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StoreFront1-20210830050539.mdf;Initial Catalog=aspnet-StoreFront1-20210830050539;Integrated Security=True" providerName="System.Data.SqlClient" />-->

  <add name="DefaultConnection" connectionString="Data Source=SQL5108.site4now.net;Initial Catalog=db_a77761_storefront;User Id=db_a77761_storefront_admin;Password=Trevor!20" providerName="System.Data.SqlClient" />

  <add name="StoreFrontEntities1" connectionString="metadata=res://*/StoreFront.csdl|res://*/StoreFront.ssdl|res://*/StoreFront.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5108.site4now.net;Initial Catalog=db_a77761_storefront;User Id=db_a77761_storefront_admin;Password=Trevor!20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--This is from DATA StoreFront-->

</connectionStrings>