<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--This is to keep your information safe and private-->
  <add key="EmailClient" value="mail.AshleyNichole.net"/>

  <add key="EmailUser" value="no-reply@AshleyNichole.net"/>

  <add key="EmailPass" value="Trevor!20"/>

  <add key="EmailTo" value="AsAshley21@gmail.com"/>

</appSettings>