@model StoreFront.Data.EF.Stock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockValue)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin,Employee"))
    {
        @:  @Html.ActionLink("Edit", "Edit", new { id = Model.StockID }) |
    }

    @Html.ActionLink("Back to List", "Index")
</p>

