@{
    ViewBag.Title = "Home Page";
}



<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                @*<h4>HELLO PEOPLE, MY NAME IS</h4>
                    <h1>PAUL SILVA</h1>
                    <h4>WEB DESIGNER, DEVELOPER & GAME ADDICT</h4>*@
            </div>
        </div>
    </div>
    <!-- /container -->
</div>

<section id="works"></section>
<div class="container">
    <div class="row centered mt mb">
        <h1>Featured Products</h1>

        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="#"><img src="~/Content/img/ODIN.jpg" class="img-responsive" style="height: 200px; width: 350px; border-radius:2%;"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="#"><img src="~/Content/img/StudioBuds.jpg" class="img-responsive" style="height: 200px; width: 350px; border-radius:2%;"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="#"><img src="~/Content/img/MainAirPodMax.jpg" class="img-responsive" style="height: 200px; width: 350px; border-radius:2%;; border-radius:2%;"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="#"><img src="~/Content/img/PowerBeatsPro.jpg" class="img-responsive" style="height: 200px; width: 350px; border-radius:2%;"></a>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="#"><img src="~/Content/img/MainStudio3.jpg" class="img-responsive" style="height: 200px; width: 350px; border-radius:2%;"></a>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="#"><img src="~/Content/img/CloudCore.jpg" class="img-responsive" style="height: 200px; width: 350px; border-radius:2%;"></a>
        </div>
        
    </div>
</div>